<footer class="footer align-center">

  <div class="row row--padding">
    <div class="footer__logos">

      <a target="_blank" class="logo logo--secret-escapes" href="https://www.secretescapes.com/"><img class="js-svg-swap" src="{{ site.baseurl }}/img/logo/secret-escapes.png" alt="Secret Escapes logo"></a>

      <a target="_blank" class="logo logo--partner" href="{{ site.joules-link }}"><img class="logo--partner--img js-svg-swap" src="{{ site.baseurl }}/img/logo/partner.png" alt="Partner Logo"></a>

    </div>
  </div>

  <div class="row row--padding">
    <p>
      © Copyright <span class="js-year">2017</span> Secret Escapes. <a href="www.joules.com/comps">*Terms and conditions apply.</a>
    </p>
  </div>

</footer>